﻿@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <a href="#">
                <div class="col-lg-7 ob">
                    <div class="ob1">
                        <h2>Nowe zdjęcia z miejsca katastrofy airbusa A320. MSW Francji: nikt nie przeżył</h2>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-5 ob">
                    <div class="ob2">
                        <h3>Dramat uczniów z niemieckiego gimnazjum. Wracali z międzyszkolnej wymiany. Wszyscy zginęli</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-lg-3 ob">
                    <div class="ob3_l"></div>
                    <div class="ob3">
                        <h4>Nowe zdjęcia z miejsca katastrofy airbusa A320. MSW Francji: nikt nie przeżył</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-4 ob">
                    <div class="ob4">
                        <h3>Jest wyrok dla byłego księdza Wojciecha G. za molestowanie nieletnich</h3>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-5 ob">
                    <div class="ob5">
                        <h3>Myśliwiec Mirage leciał na pomoc airbusowi Germanwings</h3>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <div class="col-lg-4" style="margin-top: 5px;">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-3">
                <div class="media-left newsimg">
                    <img src="~/Content/Images/p1.jpg" />
                </div>
            </div>
            <div class="col-lg-9">
                <h4><a href="#">Szef NATO: niepokojące działania Rosji - tak przejęli Krym</a></h4>
            </div>
        </div>

        <ul class="listanews">
            <li><a href="#">Służby ostrzegają przed rewolucją w Rosji</a></li>
            <li><a href="#">Na pokładzie niemowlę z polskim obywatelstwem</a></li>
            <li><a href="#">Myśliwiec leciał na pomoc airbusowi Germanwings</a></li>
            <li class="news"><a href="#">"Burmistrz prawie płakał". Niemcy w szoku</a></li>
            <li><a href="#">Palikot: nie dam z ludzi zrobić mięsa armatniego</a></li>
            <li><a href="#">Macierewicz: za Smoleńsk odpowiada Putin</a></li>
            <li><a href="#">Rebelianci przejęli lotnisko w Adenie</a></li>
            <li class="news"><a href="#">Przyjaciel Rosji: nieobliczalny atomowy reżim</a></li>
            <li><a href="#">Jest czwarty kandydat w wyborach </a></li>
            <li class="news"><a href="#">Awaria doprowadziła do katastrofy airbusa?</a></li>
            <li><a href="#">Odesłali rannego 8-latka. Są zarzuty</a></li>
            <li class="news"><a href="#">Nastolatka jest w ciąży z byłym policjantem</a></li>
            <li><span style="color: red; font-weight:bold; font-size: small;">REKLAMA</span>&nbsp;<a href="#">Poznaj zbawienny wpływ czarnego bzu</a></li>
        </ul>

        <div class="dropdown">
            <a href="#" id="menu1" data-toggle="dropdown"><h3>Opinie <span class="caret"></span></h3></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <ul class="list-unstyled col-sm-6">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Opinie</h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Kraków</h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Trójmiasto</h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Wrocław</h4></a></li>
                    </ul>
                    <ul class="list-unstyled col-sm-6">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Katowice</h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Poznań</h4></a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><h4>Warszawa</h4></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="listanews">
            <li><a href="#">Świat ma powody do obaw?</a></li>
            <li><a href="#">Kardynał: gender stworzy istoty transludzkie</a></li>
            <li><a href="#">Kukiz: padłem ofiarą politycznej prowokacji</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <a href="#">
                <div class="col-lg-3 ob">
                    <div class="ob6_l"></div>
                    <div class="ob6">
                        <h4>Znaleziona czarna skrzynka to rejestrator rozmów w kokpicie</h4>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-4 ob">
                    <div class="ob7">
                        <h3>Jeremy Clarkson zwolniony. Top Gear nie będzie już taki sam</h3>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-lg-5 ob">
                    <div class="ob8">
                        <h3>Pamiątkowe zdjęcia, wiwaty i buziaki. Amerykańscy żołnierze jadą przez Polskę</h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12 ob">
                            <div class="ob9_l"></div>
                            <div class="ob9">
                                <h4>To pewne. Polak wystartuje w słynnych zawodach. Pierwszy od 80 lat</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a href="#">
                        <div class="col-lg-12 ob">
                            <div class="ob12_l"></div>
                            <div class="ob12">
                                <h4>Historia, która niewiele ma wspólnego z życiem. Dlaczego w nią wierzymy? </h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <a href="#">
                <div class="col-lg-4 ob">
                    <div class="ob10">
                        <h3>Oto najlepiej zarabiający piłkarze na świecie, wśród nich "Lewy"! Zobacz, ile milionów dostają  </h3>
                    </div>
                </div>
            </a>
            <div class="col-lg-5">
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12 ob">
                            <div class="ob11">
                                <h4>Jego talent urzekł samego Hitlera.  Śmierć aktora była ciosem dla polskiego kina</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a href="#">
                        <div class="col-lg-12 ob">
                            <div class="ob13">
                                <h4>Poradnik: Jak przyspieszyć działanie telefonu i komputera?</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12 ob">
                <div class="p2">
                    <h3>Rzeczy Polki-miliarderki idą pod młotek. Zobacz, co można kupić</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ob">
                <div class="p3">
                    <h3>"To okrutna terapia". Polski lekarz o kroku Angeliny Jolie</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ob">
                <div class="p4">
                    <h3>Ronaldo może zostać zawieszony za gest po golu podczas Gran Derbi</h3>
                </div>
            </div>
        </div>
    </div>
</div>

