﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/moj.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="#">
                    <img src="~/Content/Images/logo.png" />
                </a>
                <a class="fb" href="#">
                    <img src="~/Content/Images/fb.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Wiadomości</a></li>
                    <li><a href="#">Finanse</a></li>
                    <li><a href="#">Sport</a></li>
                </ul>
                <ul class="nav navbar-nav visible-lg">
                    <li>
                        <a class="google" href="#">
                            <img src="~/Content/Images/google.png" />
                        </a>
                    </li>
                </ul>

                <div class="przyciski visible-lg">
                    <ul class="nav navbar-nav">
                        <li class="poczta"><a href="#">Poczta</a></li>
                        <li class="program"><a href="#">Program TV</a></li>
                        <li class="chat"><a href="#">Czat</a></li>
                        <li class="gry"><a href="#">Gry</a></li>
                        <li class="allegro"><a href="#">Allegro</a></li>
                    </ul>
                </div>

                <div class="hidden-lg nav-pills pull-left">
                    <ul class="nav navbar-nav">
                        <li class="poczta"><a href="#">Poczta</a></li>
                        <li class="program"><a href="#">Program TV</a></li>
                        <li class="chat"><a href="#">Czat</a></li>
                        <li class="gry"><a href="#">Gry</a></li>
                        <li class="allegro"><a href="#">Allegro</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>