﻿@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

body {
    .navbar {
        background-color: white;
    }

    .vertical-align {
        display: flex;
        align-items: center;
    }

    .logo {
        img {
            width: auto;
            max-height: 65px;
        }
    }

    .fb {
        img {
            max-width: 127px;
            height: auto;
        }
    }

    .linki {
        font-size: 16px;

        a {
            color: #135aa1;
            padding-right: 5px;
        }
    }

    .przyciski {
        a {
            display: block;
            height: 24px;
            padding-top: 40px;
            background: url(//y.wpimg.pl/i/ivar/layout/201201/gwp_s.png?v=04) -168px 22px no-repeat;
            text-align: center;
            text-decoration: none;
            text-indent: 0;
            color: #135aa1;
            font-size: 11px;
        }

        .poczta {
            width: 35px;
            margin-left: 0;

            a {
                background-position: -182px -199px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .program {
            width: 60px;
            margin-left: 26px;

            a {
                background-position: -220px -204px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .chat {
            width: 27px;
            margin-left: 28px;

            a {
                background-position: -287px -200px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .gry {
            width: 34px;
            margin-left: 36px;

            a {
                background-position: -337px -201px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .allegro {
            width: 35px;
            margin-left: 33px;

            a {
                background-position: -390px -204px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .ob {
        color: white;
        opacity: 1;
        margin-top: 5px;

        h1 {
            font-family: 'Roboto Condensed',Arial,sans-serif;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
        }

        h2 {
            font-family: 'Roboto Condensed',Arial,sans-serif;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
        }

        h3 {
            font-family: 'Roboto Condensed',Arial,sans-serif;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            font-family: 'Roboto Condensed',Arial,sans-serif;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
        }

        h5 {
            font-family: 'Roboto Condensed',Arial,sans-serif;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
        }

        &:hover {
            opacity: 0.9;
            text-decoration: underline;
        }

        .ob1 {
            background-image: url("Images/ob1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 329px;
            display: flex;
            align-items: flex-end;
        }

        .ob2 {
            background-image: url("Images/ob2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 329px;
            display: flex;
            align-items: flex-end;
        }

        .ob3_l {
            background-image: url("Images/ob3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 91px;
        }

        .ob3 {
            background-color: red;
            height: 100px;
            display: flex;
            align-items: flex-end;
        }

        .ob4 {
            background-image: url("Images/ob4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .ob5 {
            background-image: url("Images/ob5.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .ob6_l {
            background-image: url("Images/ob6.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 91px;
        }

        .ob6 {
            background-color: red;
            height: 100px;
            display: flex;
            align-items: flex-end;
        }

        .ob7 {
            background-image: url("Images/ob7.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .ob8 {
            background-image: url("Images/ob8.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .ob9_l {
            background-image: url("Images/ob9.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 91px;
        }

        .ob9 {
            background-color: red;
            height: 100px;
            display: flex;
            align-items: flex-end;
        }

        .ob10 {
            background-image: url("Images/ob10.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 387px;
            display: flex;
            align-items: flex-end;
        }

        .ob11 {
            background-image: url("Images/ob11.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .ob12_l {
            background-image: url("Images/ob12.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 91px;
        }

        .ob12 {
            background-color: red;
            height: 100px;
            display: flex;
        }

        .ob13 {
            background-image: url("Images/ob13.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .p2 {
            background-image: url("Images/p2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .p3 {
            background-image: url("Images/p3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }

        .p4 {
            background-image: url("Images/p4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 191px;
            display: flex;
            align-items: flex-end;
        }
    }

    .news {
        &:before {
            display: inline-block;
            content: '';
            background-image: url(//y.wpimg.pl/i/ivar/layout/201201/gwp_s.png?v=04);
            background-position: -112px -267px;
            width: 25px;
            height: 11px;
        }
    }

    .newsimg {
        width: 80px;
        height: 68px;
        overflow: hidden;       

        img {
            width: auto;
            height: 69px;
            margin: 0 10px 0 -79px;
        }
    }

    .listanews {
        margin-left: 0;
        padding-left: 10px;
    }
}
