﻿@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
body .navbar {
  background-color: white;
}
body .vertical-align {
  display: flex;
  align-items: center;
}
body .logo img {
  width: auto;
  max-height: 65px;
}
body .fb img {
  max-width: 127px;
  height: auto;
}
body .linki {
  font-size: 16px;
}
body .linki a {
  color: #135aa1;
  padding-right: 5px;
}
body .przyciski a {
  display: block;
  height: 24px;
  padding-top: 40px;
  background: url(//y.wpimg.pl/i/ivar/layout/201201/gwp_s.png?v=04) -168px 22px no-repeat;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  color: #135aa1;
  font-size: 11px;
}
body .przyciski .poczta {
  width: 35px;
  margin-left: 0;
}
body .przyciski .poczta a {
  background-position: -182px -199px;
  padding-left: 0;
  padding-right: 0;
}
body .przyciski .program {
  width: 60px;
  margin-left: 26px;
}
body .przyciski .program a {
  background-position: -220px -204px;
  padding-left: 0;
  padding-right: 0;
}
body .przyciski .chat {
  width: 27px;
  margin-left: 28px;
}
body .przyciski .chat a {
  background-position: -287px -200px;
  padding-left: 0;
  padding-right: 0;
}
body .przyciski .gry {
  width: 34px;
  margin-left: 36px;
}
body .przyciski .gry a {
  background-position: -337px -201px;
  padding-left: 0;
  padding-right: 0;
}
body .przyciski .allegro {
  width: 35px;
  margin-left: 33px;
}
body .przyciski .allegro a {
  background-position: -390px -204px;
  padding-left: 0;
  padding-right: 0;
}
body .ob {
  color: white;
  opacity: 1;
  margin-top: 5px;
}
body .ob h1 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
body .ob h2 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
body .ob h3 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
body .ob h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
body .ob h5 {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
body .ob:hover {
  opacity: 0.9;
  text-decoration: underline;
}
body .ob .ob1 {
  background-image: url("Images/ob1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 329px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob2 {
  background-image: url("Images/ob2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 329px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob3_l {
  background-image: url("Images/ob3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 91px;
}
body .ob .ob3 {
  background-color: red;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob4 {
  background-image: url("Images/ob4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob5 {
  background-image: url("Images/ob5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob6_l {
  background-image: url("Images/ob6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 91px;
}
body .ob .ob6 {
  background-color: red;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob7 {
  background-image: url("Images/ob7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob8 {
  background-image: url("Images/ob8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob9_l {
  background-image: url("Images/ob9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 91px;
}
body .ob .ob9 {
  background-color: red;
  height: 100px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob10 {
  background-image: url("Images/ob10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 387px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob11 {
  background-image: url("Images/ob11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .ob12_l {
  background-image: url("Images/ob12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 91px;
}
body .ob .ob12 {
  background-color: red;
  height: 100px;
  display: flex;
}
body .ob .ob13 {
  background-image: url("Images/ob13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .p2 {
  background-image: url("Images/p2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .p3 {
  background-image: url("Images/p3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .ob .p4 {
  background-image: url("Images/p4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 191px;
  display: flex;
  align-items: flex-end;
}
body .news:before {
  display: inline-block;
  content: '';
  background-image: url(//y.wpimg.pl/i/ivar/layout/201201/gwp_s.png?v=04);
  background-position: -112px -267px;
  width: 25px;
  height: 11px;
}
body .newsimg {
  width: 80px;
  height: 68px;
  overflow: hidden;
}
body .newsimg img {
  width: auto;
  height: 69px;
  margin: 0 10px 0 -79px;
}
body .listanews {
  margin-left: 0;
  padding-left: 10px;
}
/*# sourceMappingURL=moj.css.map */